@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPHjd1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPErd1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPKba1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPJ_a1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPPja1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/italianno/v16/dg4n_p3sv6gCJkwzT6Rnjw.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
p {
  margin-bottom: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
body {
  background-color: white;
}
.page__header {
  position: absolute;
  width: 100%;
  padding-top: 30px;
  z-index: 3001;
}
.page__header h1 {
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .page__header h1 {
    margin-left: 0;
    width: fit-content;
  }
}
.page__header .navbar__menu .navbar__hamburguer {
  display: flex;
  align-items: baseline;
  margin-right: 15px;
}
.page__header .navbar__menu .navbar__hamburguer img {
  width: 35px;
}
.page__header .navbar__menu .navbar__hamburguer:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .page__header .navbar__menu .navbar__hamburguer {
    margin-top: 20px;
  }
}
.page__header .navbar__menu .navbar__overlay {
  background-color: #214A4D;
  z-index: 3002;
  display: none;
}
.page__header .navbar__menu .navbar__overlay.open {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden !important;
  transition: all linear 0.5s;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content {
  overflow-y: auto !important;
  height: 90%;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__header {
  margin: 30px 30px 106px 30px;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__header .overlay__logo {
  width: 155px;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__header .overlay__close {
  font-size: 30px;
  color: white;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__menu {
  margin: 0;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a {
  font: 500 15px 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;
  margin-bottom: 19px;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__menu .overlay__button {
  margin-top: 40px;
  margin-bottom: 76px;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__menu .overlay__social {
  width: 250px;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__menu .overlay__social a {
  cursor: pointer;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__menu .overlay__social a img {
  width: 25px;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__menu .overlay__social a:hover img {
  filter: brightness(0) saturate(100%) invert(56%) sepia(5%) saturate(3693%) hue-rotate(130deg) brightness(98%) contrast(87%);
}
@media screen and (min-width: 768px) {
  .page__header .navbar__menu .navbar__overlay.open {
    width: 30%;
  }
}
.btn__transparent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 20px 40px;
  color: #214A4D;
  text-decoration: none;
  font: 700 22px 'Catamaran', sans-serif;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #214A4D;
  transition: all 0.3s linear;
}
.btn__transparent img {
  margin-right: 20px;
}
.btn__transparent:hover {
  color: white;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  background-color: #214A4D;
}
.btn__transparent:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
.btn__black {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 20px 40px;
  color: white;
  text-decoration: none;
  font: 600 28px 'Catamaran', sans-serif;
  text-transform: uppercase;
  background-color: #214a4d;
  transition: all 0.3s linear;
}
.btn__black img {
  margin-right: 20px;
}
.btn__black:hover {
  color: white;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  background-color: rgba(33, 74, 77, 0.8);
}
.btn__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 15px 30px;
  color: #214a4d;
  text-decoration: none;
  font: 600 18px 'Catamaran', sans-serif;
  text-transform: uppercase;
  background-color: white;
  transition: all 0.3s linear;
}
.btn__nav img {
  margin-right: 20px;
  width: 20px;
}
.btn__nav:hover {
  color: #214a4d;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}
.page__footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-image: url('../img/bg-footer.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__footer .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page__footer .contact .phone {
  margin-bottom: 22px;
}
.page__footer .contact .phone a {
  display: flex;
  align-items: center;
  font: 400 18px 'Catamaran', sans-serif;
  color: #1d1d1d;
  letter-spacing: 1.8px;
}
.page__footer .contact .phone a img {
  width: 25px;
  margin-right: 10px;
}
.page__footer .contact .phone a:hover {
  color: #214A4D;
  cursor: pointer;
  text-decoration: none;
}
.page__footer .contact .phone a:hover img {
  filter: brightness(0) saturate(100%) invert(56%) sepia(5%) saturate(3693%) hue-rotate(130deg) brightness(98%) contrast(87%);
}
.page__footer .contact .mail a {
  display: flex;
  align-items: center;
  font: 400 16px 'Catamaran', sans-serif;
  color: #1d1d1d;
  letter-spacing: 1.6px;
  text-decoration: underline;
}
.page__footer .contact .mail a img {
  width: 25px;
  margin-right: 10px;
}
.page__footer .contact .mail a:hover {
  color: #214A4D;
  cursor: pointer;
}
.page__footer .contact .mail a:hover img {
  filter: brightness(0) saturate(100%) invert(56%) sepia(5%) saturate(3693%) hue-rotate(130deg) brightness(98%) contrast(87%);
}
.page__footer .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page__footer .links .social__links {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin-top: 8px;
}
.page__footer .links .social__links a img {
  width: 30px;
}
.page__footer .links .social__links a:hover img {
  filter: brightness(0) saturate(100%) invert(56%) sepia(5%) saturate(3693%) hue-rotate(130deg) brightness(98%) contrast(87%);
}
.page__footer .maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page__footer .maps .location {
  margin-bottom: 28px;
}
.page__footer .maps .location a {
  display: flex;
  align-items: center;
  font: 400 16px 'Catamaran', sans-serif;
  color: #1d1d1d;
  letter-spacing: 1.6px;
  text-decoration: none;
}
.page__footer .maps .location a img {
  width: 25px;
  margin-right: 10px;
}
.page__footer .maps .location a:hover {
  color: #214A4D;
  cursor: pointer;
}
.page__footer .maps .location a:hover img {
  filter: brightness(0) saturate(100%) invert(56%) sepia(5%) saturate(3693%) hue-rotate(130deg) brightness(98%) contrast(87%);
}
.page__footer .copyrights {
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  border-top: 1px solid #214A4D;
  margin-top: 48px;
}
.page__footer .copyrights .tramandai__copy {
  font: 400 14px 'Catamaran', sans-serif;
  color: #1d1d1d;
}
.page__footer .copyrights .ark__copy {
  display: flex;
  align-items: center;
  font: 400 14px 'Catamaran', sans-serif;
  color: #1d1d1d;
}
.page__footer .copyrights .ark__copy a {
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .page__footer {
    padding-top: 82px;
    padding-bottom: 60px;
  }
}
.button__whatsapp--floating {
  display: inline-block;
  z-index: 5000;
  position: fixed;
  bottom: 5px;
  right: 9px;
  padding: 7px 12px;
  background-color: #2acc1e;
  color: #13172d;
}
.button__whatsapp--floating i {
  font-size: 36px;
  color: #191d36;
}
.button__whatsapp--floating:hover i {
  color: #FFFFFF;
}
.home__banner {
  position: relative;
}
.home__banner .owl-carousel.owl-theme.banner__carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  height: 86px;
  width: 100%;
  position: absolute;
  top: calc(50% - 43px);
  left: 0;
  z-index: 3001;
}
.home__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-prev {
  margin: 0;
  width: 64px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #214A4D;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
}
.home__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-next {
  width: 64px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #214A4D;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
}
.home__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-prev,
.home__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-next {
  margin: -1px;
}
.home__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-prev:hover,
.home__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-next:hover {
  border: 1px solid #fff;
  color: #fff;
}
.home__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-prev span,
.home__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-next span {
  font-size: 45px;
}
@media screen and (min-width: 768px) {
  .home__banner .owl-carousel.owl-theme.banner__carousel .owl-nav {
    right: 21px;
  }
}
.home__banner .banner__content {
  position: absolute;
  width: 80%;
  top: 280px;
  left: 135px;
  z-index: 3000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__banner .banner__content .title__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__banner .banner__content .title__content h2 {
  text-align: center;
  font: 600 42px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 3.2px;
  margin-bottom: 15px;
}
.home__banner .banner__content .title__content p {
  text-align: center;
  width: 395px;
  font: 400 48px 'Italianno', cursive;
  color: #1D1D1D;
  margin-bottom: 32px;
  text-shadow: 5px 5px 10px;
}
.home__banner .banner__content .title__content .arrow__down {
  margin-top: 56px;
  margin-bottom: 48px;
}
.home__enterprises {
  background-image: url('../img/bg-empreendimentos.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 48px;
  padding-bottom: 48px;
}
.home__enterprises .owl-carousel.owl-theme.home__carousel .owl-nav {
  display: flex;
  justify-content: flex-end;
  height: 86px;
  width: 100%;
  position: absolute;
  bottom: 37px;
  right: 37px;
  z-index: 3001;
}
.home__enterprises .owl-carousel.owl-theme.home__carousel .owl-nav .owl-prev {
  margin: 0;
  width: 64px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1d1d1d;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
}
.home__enterprises .owl-carousel.owl-theme.home__carousel .owl-nav .owl-next {
  width: 64px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1d1d1d;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
}
.home__enterprises .owl-carousel.owl-theme.home__carousel .owl-nav .owl-prev,
.home__enterprises .owl-carousel.owl-theme.home__carousel .owl-nav .owl-next {
  margin: -1px;
}
.home__enterprises .owl-carousel.owl-theme.home__carousel .owl-nav .owl-prev:hover,
.home__enterprises .owl-carousel.owl-theme.home__carousel .owl-nav .owl-next:hover {
  border: 1px solid #fff;
  color: #fff;
}
.home__enterprises .owl-carousel.owl-theme.home__carousel .owl-nav .owl-prev span,
.home__enterprises .owl-carousel.owl-theme.home__carousel .owl-nav .owl-next span {
  font-size: 45px;
}
.home__enterprises h2 {
  font: 400 20px 'Montserrat', sans-serif;
  color: #214A4D;
  letter-spacing: 2px;
  width: 430px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .home__enterprises h2 {
    text-align: left;
  }
}
.home__enterprises h3 {
  font: 600 32px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 2.2px;
  text-align: center;
  margin-bottom: 38px;
}
@media screen and (min-width: 768px) {
  .home__enterprises h3 {
    text-align: left;
    font-size: 38px;
  }
}
.home__enterprises p {
  font: 500 18px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 1.8px;
  line-height: 35px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .home__enterprises p {
    text-align: left;
    max-width: 450px;
  }
}
.home__enterprises .enterprises {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__enterprises .enterprises .card__enterprise {
  color: #1d1d1d;
  font: 600 18px 'Montserrat', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__enterprises .enterprises .card__enterprise .photo {
  max-width: 150px;
  margin-bottom: 10px;
}
.home__enterprises .enterprises .card__enterprise:hover {
  color: #214A4D;
  cursor: pointer;
}
.home__enterprises .enterprises .card__enterprise:hover .photo {
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .home__enterprises {
    padding-top: 62px;
    padding-bottom: 82px;
  }
}
.home__cta {
  padding-top: 48px;
  padding-bottom: 48px;
  background-image: url('../img/bg-cta.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.home__cta h2 {
  font: 600 42px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 4.2;
  line-height: 55px;
}
.home__cta h3 {
  font: 700 42px 'Montserrat', sans-serif;
  color: #214A4D;
  letter-spacing: 4.2;
  line-height: 55px;
}
.home__cta .button {
  margin-top: 58px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .home__cta {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.home__about {
  padding-top: 48px;
  background-image: url('../img/bg-about.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.home__about .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__about .title h2 {
  font: 400 20px 'Montserrat', sans-serif;
  color: #214A4D;
  letter-spacing: 2.5px;
  width: 430px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.home__about .title h3 {
  font: 700 48px 'Raleway', sans-serif;
  color: #214A4D;
  letter-spacing: 2.8px;
  text-align: center;
  text-transform: uppercase;
}
.home__about .title img {
  width: fit-content;
  margin-bottom: 18px;
}
.home__about .title h4 {
  font: 400 48px 'Italianno', cursive;
  color: #1D1D1D;
  text-align: center;
  margin-bottom: 62px;
}
.home__about .team {
  display: flex;
  align-items: center;
  margin-bottom: 62px;
}
.home__about .team img {
  margin-right: 18px;
}
.home__about .team .team__info {
  display: flex;
  flex-direction: column;
}
.home__about .team .team__info .name {
  font: 700 20px 'Montserrat', sans-serif;
  letter-spacing: 2;
  color: #1D1D1D;
  margin-bottom: 8px;
}
.home__about .team .team__info .job {
  font: 400 20px 'Montserrat', sans-serif;
  letter-spacing: 2;
  color: #1D1D1D;
  margin-bottom: 5px;
}
.home__about .team .team__info img {
  width: fit-content;
  margin-top: 8px;
  margin-bottom: 8px;
}
.home__about .team .team__info .links__title {
  font: 600 20px 'Catamaran', sans-serif;
  color: #214A4D;
  text-transform: uppercase;
  letter-spacing: 2;
}
.home__about .team .team__info .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 142px;
}
.home__about .team .team__info .links a:hover {
  cursor: pointer;
}
.home__about .team .team__info .links a:hover img {
  filter: brightness(0) saturate(100%) invert(56%) sepia(5%) saturate(3693%) hue-rotate(130deg) brightness(98%) contrast(87%);
}
.home__about .text {
  font: 400 18px 'Montserrat', sans-serif;
  color: #1d1d1d;
  letter-spacing: 3;
  line-height: 45px;
  text-align: center;
  margin-top: 18px;
}
@media screen and (min-width: 768px) {
  .home__about .text {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .home__about {
    padding-top: 82px;
    padding-bottom: 20px;
  }
}
.page__banner {
  position: relative;
}
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  height: 86px;
  width: 100%;
  position: absolute;
  top: calc(50% - 43px);
  left: 0;
  z-index: 3001;
}
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-prev {
  margin: 0;
  width: 64px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D1D1D;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
}
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-next {
  width: 64px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D1D1D;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
}
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-prev,
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-next {
  margin: -1px;
}
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-prev:hover,
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-next:hover {
  border: 1px solid #fff;
  color: #fff;
}
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-prev span,
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-next span {
  font-size: 45px;
}
@media screen and (min-width: 768px) {
  .page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav {
    right: 21px;
  }
}
.page__banner .banner__content {
  position: absolute;
  width: 80%;
  top: 280px;
  left: 135px;
  z-index: 3000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__banner .banner__content .title__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__banner .banner__content .title__content h2 {
  text-align: center;
  font: 500 42px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 3.2px;
  margin-bottom: 15px;
}
.page__banner .banner__content .title__content p {
  text-align: center;
  width: 395px;
  font: 400 24px 'Montserrat', sans-serif;
  color: #1D1D1D;
  margin-bottom: 32px;
  text-shadow: 5px 5px 10px;
}
.page__banner .banner__content .title__content .arrow__down {
  margin-top: 56px;
  margin-bottom: 48px;
}
.page__enterprise {
  background-image: url('../img/bg-empreendimento.webp');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 48px;
}
.page__enterprise .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__enterprise .title h2 {
  font: 400 20px 'Montserrat', sans-serif;
  color: #85644F;
  letter-spacing: 2px;
  width: 430px;
  line-height: 30px;
  margin-top: 48px;
  text-align: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .page__enterprise .title h2 {
    margin-top: 80px;
  }
}
.page__enterprise .title h3 {
  font: 600 32px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 2.2px;
  text-align: center;
  margin-bottom: 62px;
}
@media screen and (min-width: 768px) {
  .page__enterprise .title h3 {
    font-size: 48px;
    letter-spacing: 3.2px;
  }
}
.page__enterprise .infos {
  display: flex;
  justify-content: center;
}
.page__enterprise .infos .list__content {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 30px white;
  padding: 40px;
  margin-top: 35px;
}
.page__enterprise .infos .list__content .list {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.page__enterprise .infos .list__content .list img {
  width: fit-content;
  margin-right: 15px;
}
.page__enterprise .infos .list__content .list p {
  font: 500 16px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 1.6px;
}
.page__enterprise .infos .list__content .list .icon__elevator {
  margin-left: 5px;
}
.page__enterprise .infos .list__content .rooftop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.page__enterprise .infos .list__content .rooftop .rooftop__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 322px;
}
.page__enterprise .infos .list__content .rooftop .rooftop__content img {
  width: fit-content;
  margin-right: 15px;
}
.page__enterprise .infos .list__content .rooftop .rooftop__content p {
  font: 500 20px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .page__enterprise .infos .list__content {
    max-width: 475px;
    max-height: 503px;
  }
}
@media screen and (min-width: 768px) {
  .page__enterprise {
    padding-bottom: 120px;
  }
}
.page__rooftop {
  padding-bottom: 48px;
  background-image: url('../img/bg-rooftop.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__rooftop h2 {
  font: 400 20px 'Montserrat', sans-serif;
  color: #85644F;
  letter-spacing: 2px;
  width: 430px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .page__rooftop h2 {
    text-align: left;
  }
}
.page__rooftop h3 {
  font: 600 32px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 2.2px;
  text-align: center;
  margin-bottom: 62px;
}
@media screen and (min-width: 768px) {
  .page__rooftop h3 {
    font-size: 64px;
    letter-spacing: 4.2px;
    text-align: left;
  }
}
.page__rooftop .list__content .list {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.page__rooftop .list__content .list img {
  width: fit-content;
  margin-right: 15px;
}
.page__rooftop .list__content .list p {
  font: 500 16px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 1.6px;
}
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  height: 86px;
  width: 112%;
  position: absolute;
  top: calc(50% - 43px);
  left: -32px;
  z-index: 3001;
}
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-prev {
  margin: 0;
  width: 64px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D1D1D;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
}
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-next {
  width: 64px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D1D1D;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
}
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-prev,
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-next {
  margin: -1px;
}
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-prev:hover,
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-next:hover {
  border: 1px solid #85644F;
}
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-prev span,
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-next span {
  font-size: 45px;
}
@media screen and (min-width: 768px) {
  .page__rooftop {
    padding-bottom: 120px;
  }
}
.page__apartments {
  padding-top: 48px;
  padding-bottom: 48px;
  background-image: url('../img/bg-ap.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__apartments .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__apartments .title h2 {
  font: 400 20px 'Montserrat', sans-serif;
  color: #85644F;
  letter-spacing: 2px;
  width: 430px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.page__apartments .title h3 {
  font: 600 32px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 2.2px;
  text-align: center;
  margin-bottom: 62px;
}
@media screen and (min-width: 768px) {
  .page__apartments .title h3 {
    font-size: 48px;
    letter-spacing: 3.2px;
  }
}
.page__apartments .is--desktop .card__ap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: white;
  border: 1px solid #85644F;
  height: 212px;
  margin-bottom: 30px;
}
.page__apartments .is--desktop .card__ap img {
  width: fit-content;
  margin-bottom: 18px;
}
.page__apartments .is--desktop .card__ap p {
  font: 500 16px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 1.6px;
  line-height: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page__apartments .is--desktop .card__ap {
    margin-bottom: 48px;
  }
}
.page__apartments h4 {
  font: 600 28px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 2.8px;
  text-align: center;
  margin-bottom: 62px;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .page__apartments h4 {
    font-size: 32px;
    letter-spacing: 3.2px;
  }
}
.page__apartments .blueprint__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .page__apartments {
    padding-top: 62px;
    padding-bottom: 100px;
  }
}
.page__cta {
  padding-top: 48px;
  padding-bottom: 48px;
  background-image: url('../img/bg-cta.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__cta h2 {
  font: 600 42px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 4.2;
  line-height: 55px;
}
.page__cta h3 {
  font: 700 42px 'Montserrat', sans-serif;
  color: #152346;
  letter-spacing: 4.2;
  line-height: 55px;
}
.page__cta .button {
  margin-top: 58px;
  display: flex;
  justify-content: center;
}
.page__energy {
  padding-top: 48px;
  padding-bottom: 48px;
  background-image: url('../img/bg-sustentabilidade.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__energy h2 {
  font: 400 20px 'Montserrat', sans-serif;
  color: white;
  letter-spacing: 2px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .page__energy h2 {
    text-align: left;
  }
}
.page__energy h3 {
  font: 600 48px 'Catamaran', sans-serif;
  color: #F6D7B1;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page__energy h3 {
    text-align: left;
  }
}
.page__energy .info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.page__energy .info img {
  width: fit-content;
  margin-right: 15px;
}
.page__energy .info .info__detail h4 {
  font: 600 36px 'Catamaran', sans-serif;
  color: #F6D7B1;
  margin-bottom: 15px;
  line-height: 45px;
}
.page__energy .info .info__detail p {
  font: 400 20px 'Montserrat', sans-serif;
  color: white;
  letter-spacing: 2;
  line-height: 25px;
}
@media screen and (min-width: 768px) {
  .page__energy {
    padding-top: 62px;
    padding-bottom: 84px;
  }
}
