@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPHjd1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPErd1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPKba1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPJ_a1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPPja1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/italianno/v16/dg4n_p3sv6gCJkwzT6Rnjw.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC70w-.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
p {
  margin-bottom: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
body {
  background-color: white;
}
.page__header {
  position: absolute;
  width: 100%;
  padding-top: 30px;
  z-index: 3001;
}
.page__header h1 {
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .page__header h1 {
    margin-left: 0;
    width: fit-content;
  }
}
.page__header .logo__theroof img {
  width: 160px;
}
.page__header .navbar__menu .navbar__hamburguer {
  display: flex;
  align-items: baseline;
  margin-right: 15px;
}
.page__header .navbar__menu .navbar__hamburguer img {
  width: 35px;
}
@media screen and (min-width: 768px) {
  .page__header .navbar__menu .navbar__hamburguer {
    margin-top: 20px;
  }
}
.page__header .navbar__menu .navbar__overlay {
  background-color: #092d23;
  z-index: 3002;
  display: none;
}
.page__header .navbar__menu .navbar__overlay.open {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden !important;
  transition: all linear 0.5s;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content {
  overflow-y: auto !important;
  height: 90%;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__header {
  margin: 30px 30px 106px 30px;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__header .overlay__logo {
  width: 155px;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__header .overlay__close {
  font-size: 30px;
  color: white;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__menu {
  margin: 0;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a {
  font: 400 15px sans-serif;
  color: white;
  text-decoration: none;
  margin-bottom: 19px;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__menu .overlay__button {
  margin-top: 40px;
  margin-bottom: 76px;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__menu .overlay__social {
  width: 130px;
}
.page__header .navbar__menu .navbar__overlay.open .overlay__content .overlay__menu .overlay__social a {
  text-decoration: none;
  font-size: 23px;
  color: #deb78f;
  cursor: pointer;
}
.btn__transparent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 20px 40px;
  color: #1D1D1D;
  text-decoration: none;
  font: 600 22px 'Catamaran', sans-serif;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #1D1D1D;
  transition: all 0.3s linear;
}
.btn__transparent img {
  margin-right: 20px;
}
.btn__transparent:hover {
  color: white;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  background-color: #1D1D1D;
}
.btn__transparent:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
.btn__black {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 20px 40px;
  color: white;
  text-decoration: none;
  font: 600 28px 'Catamaran', sans-serif;
  text-transform: uppercase;
  background-color: #1D1D1D;
  transition: all 0.3s linear;
}
.btn__black img {
  margin-right: 20px;
}
.btn__black:hover {
  color: white;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  background-color: rgba(29, 29, 29, 0.6);
}
.button__whatsapp--floating {
  display: inline-block;
  z-index: 5000;
  position: fixed;
  bottom: 5px;
  right: 9px;
  padding: 7px 12px;
  background-color: #2acc1e;
  color: #13172d;
}
.button__whatsapp--floating i {
  font-size: 36px;
  color: #191d36;
}
.button__whatsapp--floating:hover i {
  color: #FFFFFF;
}
.page__banner {
  position: relative;
}
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  height: 86px;
  width: 100%;
  position: absolute;
  top: calc(50% - 43px);
  left: 0;
  z-index: 3001;
}
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-prev {
  margin: 0;
  width: 64px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D1D1D;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
}
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-next {
  width: 64px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D1D1D;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
}
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-prev,
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-next {
  margin: -1px;
}
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-prev:hover,
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-next:hover {
  border: 1px solid #fff;
  color: #fff;
}
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-prev span,
.page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav .owl-next span {
  font-size: 45px;
}
@media screen and (min-width: 768px) {
  .page__banner .owl-carousel.owl-theme.banner__carousel .owl-nav {
    right: 21px;
  }
}
.page__banner .banner__content {
  position: absolute;
  width: 80%;
  top: 280px;
  left: 135px;
  z-index: 3000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__banner .banner__content .title__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__banner .banner__content .title__content h2 {
  text-align: center;
  font: 500 42px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 3.2px;
  margin-bottom: 15px;
}
.page__banner .banner__content .title__content p {
  text-align: center;
  width: 395px;
  font: 400 24px 'Montserrat', sans-serif;
  color: #1D1D1D;
  margin-bottom: 32px;
  text-shadow: 5px 5px 10px;
}
.page__banner .banner__content .title__content .arrow__down {
  margin-top: 56px;
  margin-bottom: 48px;
}
.page__enterprise {
  background-image: url('../img/bg-empreendimento.webp');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 48px;
}
.page__enterprise .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__enterprise .title h2 {
  font: 400 20px 'Montserrat', sans-serif;
  color: #85644F;
  letter-spacing: 2px;
  width: 430px;
  line-height: 30px;
  margin-top: 48px;
  text-align: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .page__enterprise .title h2 {
    margin-top: 80px;
  }
}
.page__enterprise .title h3 {
  font: 600 32px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 2.2px;
  text-align: center;
  margin-bottom: 62px;
}
@media screen and (min-width: 768px) {
  .page__enterprise .title h3 {
    font-size: 48px;
    letter-spacing: 3.2px;
  }
}
.page__enterprise .infos {
  display: flex;
  justify-content: center;
}
.page__enterprise .infos .list__content {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 30px white;
  padding: 40px;
  margin-top: 35px;
}
.page__enterprise .infos .list__content .list {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.page__enterprise .infos .list__content .list img {
  width: fit-content;
  margin-right: 15px;
}
.page__enterprise .infos .list__content .list p {
  font: 500 16px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 1.6px;
}
.page__enterprise .infos .list__content .list .icon__elevator {
  margin-left: 5px;
}
.page__enterprise .infos .list__content .rooftop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.page__enterprise .infos .list__content .rooftop .rooftop__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 322px;
}
.page__enterprise .infos .list__content .rooftop .rooftop__content img {
  width: fit-content;
  margin-right: 15px;
}
.page__enterprise .infos .list__content .rooftop .rooftop__content p {
  font: 500 20px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .page__enterprise .infos .list__content {
    max-width: 475px;
    max-height: 503px;
  }
}
@media screen and (min-width: 768px) {
  .page__enterprise {
    padding-bottom: 120px;
  }
}
.page__rooftop {
  padding-bottom: 48px;
  background-image: url('../img/bg-rooftop.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__rooftop h2 {
  font: 400 20px 'Montserrat', sans-serif;
  color: #85644F;
  letter-spacing: 2px;
  width: 430px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .page__rooftop h2 {
    text-align: left;
  }
}
.page__rooftop h3 {
  font: 600 32px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 2.2px;
  text-align: center;
  margin-bottom: 62px;
}
@media screen and (min-width: 768px) {
  .page__rooftop h3 {
    font-size: 64px;
    letter-spacing: 4.2px;
    text-align: left;
  }
}
.page__rooftop .list__content .list {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.page__rooftop .list__content .list img {
  width: fit-content;
  margin-right: 15px;
}
.page__rooftop .list__content .list p {
  font: 500 16px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 1.6px;
}
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  height: 86px;
  width: 112%;
  position: absolute;
  top: calc(50% - 43px);
  left: -32px;
  z-index: 3001;
}
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-prev {
  margin: 0;
  width: 64px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D1D1D;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
}
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-next {
  width: 64px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D1D1D;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
}
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-prev,
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-next {
  margin: -1px;
}
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-prev:hover,
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-next:hover {
  border: 1px solid #85644F;
}
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-prev span,
.page__rooftop .owl-carousel.owl-theme.rooftop__carousel .owl-nav .owl-next span {
  font-size: 45px;
}
@media screen and (min-width: 768px) {
  .page__rooftop {
    padding-bottom: 120px;
  }
}
.page__apartments {
  padding-top: 48px;
  padding-bottom: 48px;
  background-image: url('../img/bg-ap.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__apartments .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__apartments .title h2 {
  font: 400 20px 'Montserrat', sans-serif;
  color: #85644F;
  letter-spacing: 2px;
  width: 430px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.page__apartments .title h3 {
  font: 600 32px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 2.2px;
  text-align: center;
  margin-bottom: 62px;
}
@media screen and (min-width: 768px) {
  .page__apartments .title h3 {
    font-size: 48px;
    letter-spacing: 3.2px;
  }
}
.page__apartments .is--desktop .card__ap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: white;
  border: 1px solid #85644F;
  height: 212px;
  margin-bottom: 30px;
}
.page__apartments .is--desktop .card__ap img {
  width: fit-content;
  margin-bottom: 18px;
}
.page__apartments .is--desktop .card__ap p {
  font: 500 16px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 1.6px;
  line-height: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page__apartments .is--desktop .card__ap {
    margin-bottom: 48px;
  }
}
.page__apartments h4 {
  font: 600 28px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 2.8px;
  text-align: center;
  margin-bottom: 62px;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .page__apartments h4 {
    font-size: 32px;
    letter-spacing: 3.2px;
  }
}
.page__apartments .blueprint__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .page__apartments {
    padding-top: 62px;
    padding-bottom: 100px;
  }
}
.page__cta {
  padding-top: 48px;
  padding-bottom: 48px;
  background-image: url('../img/bg-cta.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__cta h2 {
  font: 600 42px 'Montserrat', sans-serif;
  color: #1D1D1D;
  letter-spacing: 4.2;
  line-height: 55px;
}
.page__cta h3 {
  font: 700 42px 'Montserrat', sans-serif;
  color: #152346;
  letter-spacing: 4.2;
  line-height: 55px;
}
.page__cta .button {
  margin-top: 58px;
  display: flex;
  justify-content: center;
}
