// out: false

@import "../base/_pallete.less";

.page__banner {
    position: relative;

    .owl-carousel.owl-theme.banner__carousel {
        
        .owl-nav {
            display: flex;
            justify-content: space-between;
            height: 86px;
            width: 100%;
            position: absolute;
            top: calc(50% - 43px);
            left: 0;
            z-index: 3001;
    
            .owl-prev {
                margin: 0;
                width: 64px;
                height: 86px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #1D1D1D;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 0;
                
            }
            
            .owl-next {
                width: 64px;
                height: 86px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #1D1D1D;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 0;
                
            }
    
            .owl-prev,
            .owl-next {
                margin: -1px;
                            
                &:hover {
                    border: 1px solid #fff;
                    color: #fff;
                }
    
                span {
                    font-size: 45px;
                }
            }
    
            @media screen and (min-width: 768px) {
                right: 21px;
            }
        }
    }

    .banner__content {
        position: absolute;
        width: 80%;
        top: 280px;
        left: 135px;
        z-index: 3000;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title__content {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                text-align: center;
                font: 500 42px @fontM;
                color: #1D1D1D;
                letter-spacing: 3.2px;
                margin-bottom: 15px;
            }

            p {
                text-align: center;
                width: 395px;
                font: 400 24px @fontM;
                color: #1D1D1D;
                margin-bottom: 32px;
                text-shadow: 5px 5px 10px;
            }

            .arrow__down {
                margin-top: 56px;
                margin-bottom: 48px;
            }
        }
    }
}

.page__enterprise {
    background-image: url('../img/bg-empreendimento.webp');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 48px;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font: 400 20px @fontM;
            color: #85644F;
            letter-spacing: 2px;
            width: 430px;
            line-height: 30px;
            margin-top: 48px;
            text-align: center;
            margin-bottom: 15px;

            @media screen and (min-width: 768px) {
                margin-top: 80px;
            }
        }

        h3 {
            font: 600 32px @fontM;
            color: #1D1D1D;
            letter-spacing: 2.2px;
            text-align: center;
            margin-bottom: 62px;

            @media screen and (min-width: 768px) {
                font-size: 48px;
                letter-spacing: 3.2px;
            }
        }
    }

    .infos {
        display: flex;
        justify-content: center;

        .list__content {
            background-color: rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 30px white;
            padding: 40px;
            margin-top: 35px;

            .list {
                display: flex;
                align-items: center;
                margin-bottom: 16px;

                img {
                    width: fit-content;
                    margin-right: 15px;
                }

                p {
                    font: 500 16px @fontM;
                    color: #1D1D1D;
                    letter-spacing: 1.6px;                
                }

                .icon__elevator {
                    margin-left: 5px;
                }
            }

            .rooftop {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 32px;

                .rooftop__content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 322px;

                    img {
                        width: fit-content;
                        margin-right: 15px;
                    }

                    p {
                        font: 500 20px @fontM;
                        color: #1D1D1D;
                        letter-spacing: 2.0px;
                    }
                }
            }

            @media screen and (min-width: 768px) {
                max-width: 475px; 
                max-height: 503px;           
            }
        }
    }
    @media screen and (min-width: 768px) {
        padding-bottom: 120px;
    }
}

.page__rooftop {    
    padding-bottom: 48px;
    background-image: url('../img/bg-rooftop.webp');
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        font: 400 20px @fontM;
        color: #85644F;
        letter-spacing: 2px;
        width: 430px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 15px;

        @media screen and (min-width: 768px) {            
            text-align: left;
        }
    }

    h3 {
        font: 600 32px @fontM;
        color: #1D1D1D;
        letter-spacing: 2.2px;
        text-align: center;
        margin-bottom: 62px;

        @media screen and (min-width: 768px) {
            font-size: 64px;
            letter-spacing: 4.2px;
            text-align: left;
        }
    }

    .list__content {

        .list {
            display: flex;
            align-items: center;
            margin-bottom: 18px;

            img {
                width: fit-content;
                margin-right: 15px;
            }

            p {
                font: 500 16px @fontM;
                color: #1D1D1D;
                letter-spacing: 1.6px;                
            }
        }
    }

    .owl-carousel.owl-theme.rooftop__carousel {
        .owl-nav {
            display: flex;
            justify-content: space-between;
            height: 86px;
            width: 112%;
            position: absolute;
            top: calc(50% - 43px);
            left: -32px;
            z-index: 3001;
    
            .owl-prev {
                margin: 0;
                width: 64px;
                height: 86px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #1D1D1D;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 0;
                
            }
            
            .owl-next {
                width: 64px;
                height: 86px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #1D1D1D;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 0;
                
            }
    
            .owl-prev,
            .owl-next {
                margin: -1px;
                            
                &:hover {
                    border: 1px solid #85644F;
                }
    
                span {
                    font-size: 45px;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {        
        padding-bottom: 120px;
    }
}

.page__apartments {
    padding-top: 48px;
    padding-bottom: 48px;
    background-image: url('../img/bg-ap.webp');
    background-repeat: no-repeat;
    background-size: cover;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font: 400 20px @fontM;
            color: #85644F;
            letter-spacing: 2px;
            width: 430px;
            line-height: 30px;
            text-align: center;
            margin-bottom: 15px;
        }

        h3 {
            font: 600 32px @fontM;
            color: #1D1D1D;
            letter-spacing: 2.2px;
            text-align: center;
            margin-bottom: 62px;

            @media screen and (min-width: 768px) {
                font-size: 48px;
                letter-spacing: 3.2px;
            }
        }
    }

    .is--desktop {

        .card__ap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px;
            background-color: white;
            border: 1px solid #85644F;
            height: 212px;
            margin-bottom: 30px;

            img {
                width: fit-content;
                margin-bottom: 18px;
            }

            p {
                font: 500 16px @fontM;
                color: #1D1D1D;
                letter-spacing: 1.6px;
                line-height: 20px;
                text-align: center;
            }

            @media screen and (min-width: 768px) {
                margin-bottom: 48px;
            }
        }
    }

    h4 {
        font: 600 28px @fontM;
        color: #1D1D1D;
        letter-spacing: 2.8px;
        text-align: center;
        margin-bottom: 62px;
        margin-top: 24px;

        @media screen and (min-width: 768px) {
            font-size: 32px;
            letter-spacing: 3.2px;
        }
    }

    .blueprint__gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 62px;
        padding-bottom: 100px;
    }
}

.page__cta {
    padding-top: 48px;
    padding-bottom: 48px;
    background-image: url('../img/bg-cta.webp');
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        font: 600 42px @fontM;
        color: #1D1D1D;
        letter-spacing: 4.2;
        line-height: 55px;
    }

    h3 {
        font: 700 42px @fontM;
        color: #152346;
        letter-spacing: 4.2;
        line-height: 55px;
    }

    .button {
        margin-top: 58px;
        display: flex;
        justify-content: center;
    }
    
}


