// out: false

@import "../base/_pallete.less";

.home__banner {
    position: relative;

    .owl-carousel.owl-theme.banner__carousel {
        
        .owl-nav {
            display: flex;
            justify-content: space-between;
            height: 86px;
            width: 100%;
            position: absolute;
            top: calc(50% - 43px);
            left: 0;
            z-index: 3001;
    
            .owl-prev {
                margin: 0;
                width: 64px;
                height: 86px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #214A4D;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 0;
                
            }
            
            .owl-next {
                width: 64px;
                height: 86px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #214A4D;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 0;
                
            }
    
            .owl-prev,
            .owl-next {
                margin: -1px;
                            
                &:hover {
                    border: 1px solid #fff;
                    color: #fff;
                }
    
                span {
                    font-size: 45px;
                }
            }
    
            @media screen and (min-width: 768px) {
                right: 21px;
            }
        }
    }

    .banner__content {
        position: absolute;
        width: 80%;
        top: 280px;
        left: 135px;
        z-index: 3000;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title__content {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                text-align: center;
                font: 600 42px @fontM;
                color: #1D1D1D;
                letter-spacing: 3.2px;
                margin-bottom: 15px;
            }

            p {
                text-align: center;
                width: 395px;
                font: 400 48px @fontI;
                color: #1D1D1D;
                margin-bottom: 32px;
                text-shadow: 5px 5px 10px;
            }

            .arrow__down {
                margin-top: 56px;
                margin-bottom: 48px;
            }
        }
    }
}

.home__enterprises {
    background-image: url('../img/bg-empreendimentos.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 48px;
    padding-bottom: 48px;

    .owl-carousel.owl-theme.home__carousel {
        .owl-nav {
            display: flex;
            justify-content: flex-end;
            height: 86px;
            width: 100%;
            position: absolute;
            bottom: 37px;
            right: 40px;
            z-index: 3001;
    
            .owl-prev {
                margin: 0;                
                width: 64px;
                height: 86px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #1d1d1d;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 0;
                
            }
            
            .owl-next {
                width: 64px;
                height: 86px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #1d1d1d;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 0;
                
            }
    
            .owl-prev,
            .owl-next {
                margin: -1px;
                            
                &:hover {
                    border: 1px solid #fff;
                    color: #fff;
                }
    
                span {
                    font-size: 45px;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        padding-top: 62px;
        padding-bottom: 82px;
    }
}

.page__cta {
    padding-top: 48px;
    padding-bottom: 48px;
    background-image: url('../img/bg-cta.webp');
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        font: 600 42px @fontM;
        color: #1D1D1D;
        letter-spacing: 4.2;
        line-height: 55px;
    }

    h3 {
        font: 700 42px @fontM;
        color: #214A4D;
        letter-spacing: 4.2;
        line-height: 55px;
    }

    .button {
        margin-top: 58px;
        display: flex;
        justify-content: center;
    }
    
}




