// out: false

@import "../base/_pallete.less";

.home__banner {
    position: relative;

    .owl-carousel.owl-theme.banner__carousel {
        
        .owl-nav {
            display: flex;
            justify-content: space-between;
            height: 86px;
            width: 100%;
            position: absolute;
            top: calc(50% - 43px);
            left: 0;
            z-index: 3001;
    
            .owl-prev {
                margin: 0;
                width: 64px;
                height: 86px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #214A4D;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 0;
                
            }
            
            .owl-next {
                width: 64px;
                height: 86px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #214A4D;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 0;
                
            }
    
            .owl-prev,
            .owl-next {
                margin: -1px;
                            
                &:hover {
                    border: 1px solid #fff;
                    color: #fff;
                }
    
                span {
                    font-size: 45px;
                }
            }
    
            @media screen and (min-width: 768px) {
                right: 21px;
            }
        }
    }

    .banner__content {
        position: absolute;
        width: 80%;
        top: 280px;
        left: 135px;
        z-index: 3000;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title__content {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                text-align: center;
                font: 600 42px @fontM;
                color: #1D1D1D;
                letter-spacing: 3.2px;
                margin-bottom: 15px;
            }

            p {
                text-align: center;
                width: 395px;
                font: 400 48px @fontI;
                color: #1D1D1D;
                margin-bottom: 32px;
                text-shadow: 5px 5px 10px;
            }

            .arrow__down {
                margin-top: 56px;
                margin-bottom: 48px;
            }
        }
    }
}

.home__enterprises {
    background-image: url('../img/bg-empreendimentos.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 48px;
    padding-bottom: 48px;

    .owl-carousel.owl-theme.home__carousel {
        .owl-nav {
            display: flex;
            justify-content: flex-end;
            height: 86px;
            width: 100%;
            position: absolute;
            bottom: 37px;
            right: 37px;
            z-index: 3001;
    
            .owl-prev {
                margin: 0;                
                width: 64px;
                height: 86px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #1d1d1d;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 0;
                
            }
            
            .owl-next {
                width: 64px;
                height: 86px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #1d1d1d;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 0;
                
            }
    
            .owl-prev,
            .owl-next {
                margin: -1px;
                            
                &:hover {
                    border: 1px solid #fff;
                    color: #fff;
                }
    
                span {
                    font-size: 45px;
                }
            }
        }
    }

    h2 {
        font: 400 20px @fontM;
        color: #214A4D;
        letter-spacing: 2px;
        width: 430px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 24px;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    h3 {
        font: 600 32px @fontM;
        color: #1D1D1D;
        letter-spacing: 2.2px;
        text-align: center;
        margin-bottom: 38px;

        @media screen and (min-width: 768px) {
            text-align: left;
            font-size: 38px;
        }
    }

    p {
        font: 500 18px @fontM;
        color: #1D1D1D;
        letter-spacing: 1.8px;
        line-height: 35px;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
            max-width: 450px;
        }
    }

    .enterprises {
        display: flex;
        flex-direction: column;
        align-items: center;

        .card__enterprise {

            color: #1d1d1d;
            font: 600 18px @fontM;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .photo {
                max-width: 150px;
                margin-bottom: 10px;
            }

            &:hover {
                color: #214A4D;
                cursor: pointer;

                .photo {
                    opacity: .8;
                }
            }
        } 
    }

    @media screen and (min-width: 768px) {
        padding-top: 62px;
        padding-bottom: 82px;
    }
}

.home__cta {
    padding-top: 48px;
    padding-bottom: 48px;
    background-image: url('../img/bg-cta.webp');
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        font: 600 42px @fontM;
        color: #1D1D1D;
        letter-spacing: 4.2;
        line-height: 55px;
    }

    h3 {
        font: 700 42px @fontM;
        color: #214A4D;
        letter-spacing: 4.2;
        line-height: 55px;
    }

    .button {
        margin-top: 58px;
        display: flex;
        justify-content: center;
    }
    
    @media screen and (min-width: 768px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.home__about {
    padding-top: 48px;
    background-image: url('../img/bg-about.webp');
    background-repeat: no-repeat;
    background-size: cover;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font: 400 20px @fontM;
            color: #214A4D;
            letter-spacing: 2.5px;
            width: 430px;
            line-height: 30px;
            text-align: center;
            margin-bottom: 18px;
            text-transform: uppercase;
        }

        h3 {
            font: 700 48px @fontR;
            color: #214A4D;
            letter-spacing: 2.8px;
            text-align: center;
            text-transform: uppercase;
        }

        img {
            width: fit-content;
            margin-bottom: 18px;
        }

        h4 {
            font: 400 48px @fontI;
            color: #1D1D1D;
            text-align: center;
            margin-bottom: 62px;
        }
    }

    .team {
        display: flex;
        align-items: center;
        margin-bottom: 62px;

        img {
            margin-right: 18px;
        }

        .team__info {
            display: flex;
            flex-direction: column;

            .name {
                font: 700 20px @fontM;
                letter-spacing: 2.0;
                color: #1D1D1D;
                margin-bottom: 8px;
            }

            .job {
                font: 400 20px @fontM;
                letter-spacing: 2.0;
                color: #1D1D1D;
                margin-bottom: 5px;
            }

            img {
                width: fit-content;
                margin-top: 8px;
                margin-bottom: 8px;
            }

            .links__title {
                font: 600 20px @fontC;
                color: #214A4D;
                text-transform: uppercase;
                letter-spacing: 2.0;
            }

            .links {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 142px;

                a {
                    &:hover {
                        cursor: pointer;

                        img {
                            filter: brightness(0) saturate(100%) invert(56%) sepia(5%) saturate(3693%) hue-rotate(130deg) brightness(98%) contrast(87%);
                        }
                    }
                }
            }
        }
    
    }

    .text {
        font: 400 18px @fontM;
        color: #1d1d1d;
        letter-spacing: 3.0;
        line-height: 45px;
        text-align: center;
        margin-top: 18px;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    @media screen and (min-width: 768px) {
        padding-top: 82px;
        padding-bottom: 20px;
    }
}




